.resume_button {
    background-color: #21325e;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin: 30px;
}

.resume_button:hover {
    transform: scale(1.1);
}